.Weather {
    padding: 16px;
    margin: 10px auto;
    font-family: 'Roboto Mono', monospace;
}
.Weather input.form-control {
    border-color: #829460;
    color: #829460 !important;
}
.Weather input.btn-primary {
    border-color: #829460;
    background-color: transparent;
    color: #829460;
}
.Weather input.btn-primary:hover {
    background-color: #829460;
    color: white;
}
.Weather h1.city-name-display {
    color: #90A17D;
    font-size: 32px;
    line-height: 26px;
    text-align: left;
    margin-top: 30px;
    font-weight: 600;
}
.Weather ul {
    list-style: none;
    padding-left: 0;
    color: #829460;
    font-weight: 300;
    line-height: 19px;
}
.Weather div.icon-and-temperature-display {
    align-items: center;
}
img.weather-icon {
    max-width: 64px;
}
h2.current-temperature-display {
    display: inline;
    margin-left: 15px;
    color: #829460;
    font-weight: 600;
    font-size: 36px;
}
