.Weather {
    padding: 16px;
    margin: 10px auto;
    font-family: 'Roboto Mono', monospace;
}
.Weather input.form-control {
    border-color: #829460;
    color: #829460 !important;
}
.Weather input.btn-primary {
    border-color: #829460;
    background-color: transparent;
    color: #829460;
}
.Weather input.btn-primary:hover {
    background-color: #829460;
    color: white;
}


